# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
.venv/
ENV/

# Docker
*.log
docker-compose.override.yml
docker-compose.yml

# PyCharm
.idea/

# VS Code
.vscode/

# Flask
instance/
*.db

# Dependencies
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code settings
.settings/

# MacOS
.DS_Store

# Windows
Thumbs.db

# IDEs
*.swp
*~
*.sublime-workspace
